.ai-response-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 30px;
}
.header {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span {
    color: #D31B89;
    font-weight: 600;
}

.img-loading {
    display: flex;
    flex-direction: column;
}

.img-loading img {
    width: 128px;
}

.search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 95px;
    border-radius: 50px;
    background: #1F3540;
}
.search-input {
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}

.search-input ::placeholder {
    color: #999;
}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 85px;
    font-size: 20px;
    border-radius: 50px;
    background: #DE1B89;
    cursor: pointer;
}

.query-container {
    margin-left: 20%;
    margin-right: 40%;
    background: #fff;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    min-height: 2vh;
    border-radius: 50px;
    margin-top: 50px;
    padding: 20px;
}

.response-container {
    margin-left: 30%;
    margin-right: 10%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    min-height: 5vh;
    border-radius: 50px;
    margin-top: 50px;
    padding: 20px;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }